<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","backgroundColor":"light","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull has-light-background-color has-background">
	<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|128","bottom":"var:preset|spacing|128"}}}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--128);padding-bottom:var(--wp--preset--spacing--128)">
		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:paragraph {"align":"center","textColor":"primary","fontSize":"h-1","fontFamily":"heading"} -->
			<p class="has-text-align-center has-primary-color has-text-color has-heading-font-family has-h-1-font-size">404</p>
			<!-- /wp:paragraph -->

			<!-- wp:heading {"textAlign":"center","level":1,"textColor":"dark","fontSize":"h-2"} -->
			<h1 class="wp-block-heading has-text-align-center has-dark-color has-text-color has-h-2-font-size">Page not found</h1>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","textColor":"neutral-grey-400","fontSize":"b-3"} -->
			<p class="has-text-align-center has-neutral-grey-400-color has-text-color has-b-3-font-size">The page you’re looking for may have moved or no longer exists. Return to the homepage to continue browsing.</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|24"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
			<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--24)">
				<!-- wp:button {"className":"is-style-primary"} -->
				<div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button" href="/"><span>Return Home</span><span aria-hidden="true">↗</span></a></div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
